*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.5px ;
    text-decoration: none;
    color: #000;
}


.divContainerLogin{
    background: rgb(238, 250, 200);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divContainerLogin form{
    padding: 20px;
    background: #FFF;
    width: 450px;
}

.divFormGroup{
    display: flex;
    flex-direction: column;
}


.divHeadForm h2{
    font-size: 45px !important;
    margin-bottom: 20px;
}

.divFormGroup label{
    font-size: 20px;
    font-weight: normal;
}

.divFormGroup input{
    padding: 10px 5px !important;
    font-size: 20px;
}