*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.5px ;
    text-decoration: none;
    color: #000;
}


.divContainerLogin{
    background: rgb(238, 250, 200);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divContainerLogin form{
    padding: 20px;
    background: #FFF;
}