*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: #000;
    letter-spacing: 0.5px;

}

body{
    background: ghostwhite;
}

.banner{
    background: rgb(238, 250, 200);
    padding: 20px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 60px;
    letter-spacing: 1px;
}


.divContent, .divPanelMenu{
    padding: 0 8% ;
}

.divPanelMenu{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divNavigation a{
    font-size: 25px;
}

.divNavigation a::after{
    content: "/";
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.469);
}

.divNavigation a:last-child::after{
    content: "";
}

.btns button{
    border: none;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgb(163, 211, 7);
    color: rgb(163, 211, 7);
    background: transparent;
    font-weight: bold;
    transition: all ease;
}
.btns button:hover{
    background: rgb(163, 211, 7);
    color: #FFF;
}

.divContent{
    min-height: auto;
    display: flex;
}

.divContent p{
    font-size: 20px;
    letter-spacing: 1px;
}


/* USER */
.divUserItem{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.divUserItem span{
    background: rgb(238, 250, 200);
    padding: 30px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 50%;
    z-index:2;
    position: relative;
    top:15px;
}

.divUserItem div{
    background: #FFF;
    width: 100%;
    margin-top: -30px;
    text-align: center;
    border-radius: 10px;
    padding: 50px 10px 20px 20px;
}

.divUserItem div h2{
    font-size: 25px;
    line-height: 40px;
}

.divUserItem div p{
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}


